<div class="card border-primary mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
          <h5 class="card-title">Listado de clientes</h5>
          <div class="my-2 text-left">
              <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt}}</td>
                    <td><button type="button" name="editar" class="btn btn-primary" [routerLink]="['/clientes/form', cliente.id]">Editar</button></td>
                    <td><button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button></td>
                </tr>
            </tbody>
          </table>
    </div>
</div>